{% extends "blog/base.html" %}
{% block content %}
<h1 style="margin-bottom:20px; border-bottom:2px solid gray;">記事の詳細</h1>
    {% if post.published_date <= timenow　or user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaksbr }}</p>
                {% if post.published_date >= timenow or post.published_date == None %}
                    <a class="btn btn-secondary btn-lg" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% elif post.published_date %}
                    <p>公開日：{{ post.published_date }}</p>
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-lg" href="{% url 'post_edit' pk=post.pk %}"><span class="glypgicon glyphicon-pencil"></span></a>
                    <a class="btn btn-danger btn-lg" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
        </div>
        <h2 style="margin-top: 15px;">コメント</h2>
        <hr>
        <div class="d-grid gap-2">
            <a class="btn btn-success btn-lg" href="{% url 'add_comment_to_post' pk=post.pk %}"><span>コメント入力</span></a>
        </div>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
                <hr>
                <div class="comment">
                    <p>{{ comment.created_date }}</p>
                    <h2><strong>{{ comment.name }}</strong></h2>
                    <p>{{ comment.text|linebreaksbr }}</p>
                    {% if user.is_authenticated %}                        
                        {% if not comment.approved_comment %}
                            <a class="btn btn-primary btn-lg" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-pencil">公開する</span></a>
                        {% else %}
                            <a class="btn btn-danger btn-lg" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glypgicon glyphicon-remove">非公開にする</span></a>
                        {% endif %}
                    {% endif %}
                </div>
                <hr>
            {% endif %}
        {% empty %}
            <hr>
            <div class="non-comment">
                <h2>コメントはまだありません...</h2>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h3 class="alert alert-warning">この記事は非公開です！</h3>
        </div>
    {% endif %}
{% endblock content %}

